{$HOSTNAME} {
    root * /var/www/html
    
    encode gzip
    
    # PHP-FPM
    php_fastcgi app:9000
    
    # Static files
    file_server
    
    # Logging
    log {
        output stdout
        format console
    }
}
