{$HOSTNAME} {
    root * /var/www/html
    
    encode gzip
    
    # PHP Handler
    php_fastcgi app:9000
    
    # Serve static files
    file_server
    
    # Security Headers
    header {
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
        X-XSS-Protection "1; mode=block"
        Referrer-Policy "strict-origin-when-cross-origin"
        -Server
    }
    
    # Logging
    log {
        output stdout
        format console
    }
}
